[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
wagtail = "*"
djangorestframework-jsonapi = "*"
django-polymorphic = "*"

[requires]
python_version = "3.5"
